
body {
  font-family: 'Lora';
}

.part-link {
  padding: 0.5em;
}

.timeline {
  width: 100%
  height: 150px;
  display: block;
  padding: 0.5em;
}

.timeline > svg {
  width: 100%;
  height: 150px;
}
